*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*limitando o limite da caixa à borda*/
}

a{
  text-decoration: none;
}

html{
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}
body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body.green {
  --bg-color: #000000;
  --text-color: #61d633;
  --primary-color: #27660e;
  --primary-color-dark: #61d633;
}

body.orange {
  --bg-color: #ffe2f2;
  --text-color: #fd8700;
  --primary-color: #913a00;
  --primary-color-dark: #fd8700;
}

body.purple {
  --bg-color: #FFF0F6;
  --text-color: #7a4afd;
  --primary-color: #22016e;
  --primary-color-dark: #7a4afd;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 32px;
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 8px;
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 4px;
  border: var(--primary-color) solid 4px;
}


.username{
font-family: 'Roboto Mono', monospace;
font-weight: 400;
color: var(--text-color);
opacity: 0.8;
font-size: 18px;

}
.container {
  /*border: 7px red solid; Descobrindo o limite da caixa maior */
  text-align: center;/* alinhando o texto */
  width: 300px;/* definindo largura total */
  margin: 60px auto;
  }

img{
   width: 100%;/* a imagem está ocupando 100% do container DIV que criamos */

}

ul{
  list-style: none;
  margin: 40px 0;
}


ul li a{
  height: 53px;
  background: #4263EB;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  
  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover{
  background: var(--primary-color-dark);
  
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6px;
  color: var(--text-color);
  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color)
}
